In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://tdh03812:z0%4039bg0z6ffmpsv@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

# Using Joins

## Question 1

List the school names, community names and average attendance for communities with a hardship index of 98.

In [9]:
%%sql

SELECT PS.Community_area_name, PS.name_of_school, CD.Hardship_index, PS.Average_student_attendance
FROM Public_schools AS PS
INNER JOIN Census_data AS CD ON PS.Community_area_number = CD.Community_area_number
WHERE CD.Hardship_index = 98

 * ibm_db_sa://tdh03812:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('RIVERDALE', 'George Washington Carver Military Academy High School', 98, '91.60%'),
 ('RIVERDALE', 'George Washington Carver Primary School', 98, '90.90%'),
 ('RIVERDALE', 'Ira F Aldridge Elementary School', 98, '92.90%'),
 ('RIVERDALE', 'William E B Dubois Elementary School', 98, '93.30%')]

## Question 2

List all crimes that took place at a school. Include case number, crime type and community name.

In [11]:
%%sql

SELECT CR.Case_number, CR.primary_type, CD.Community_area_name
FROM Crime_data AS CR
INNER JOIN Census_data AS CD ON CR.Community_area_number = CD.Community_area_number
WHERE CR.Location_description LIKE '%SCHOOL%'

 * ibm_db_sa://tdh03812:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HL353697', 'BATTERY', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn')]

# Creating a View

In [ ]:
Column name in CHICAGO_PUBLIC_SCHOOLS	Column name in view
NAME_OF_SCHOOL	School_Name
Safety_Icon	Safety_Rating
Family_Involvement_Icon	Family_Rating
Environment_Icon	Environment_Rating
Instruction_Icon	Instruction_Rating
Leaders_Icon	Leaders_Rating
Teachers_Icon	Teachers_Rating